/* Import Montserrat from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* General styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #ffd23f;
    padding: 20px;
}

h1 {
    margin: 0;
}

main {
    margin: 20px;
}

.pokemon-selection {
    margin: 20px 0;
}

/* Styling for the labels and select elements */
label {
    font-weight: bold;
    margin-right: 10px;
}

.pokemon-select {
    padding: 5px;
    font-size: 1rem;
    margin-bottom: 10px;
}

.pokemon-code {
    margin-left: 10px;
    padding: 5px;
    font-size: 1rem;
}

/* Autocomplete container style */
.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete input {
    width: 180px;
    padding: 5px;
    font-size: 1rem;
}

.autocomplete span {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.3); /* Faded color */
    pointer-events: none;
    font-size: 1rem;
}

/* Style for results */
.results {
    margin-top: 30px;
}

/* Center the Team Analysis title */
.results h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

/* Adjust the layout for Strengths and Weaknesses */
.results-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

/* Adjust column width to bring them closer */
#strengths, #weaknesses {
    width: 40%;
}

/* Remove bullet points from Strengths and Weaknesses */
#strengths ul, #weaknesses ul {
    list-style-type: none;
    padding: 0;
}

/* Responsive Design */
@media (max-width: 600px) {
    .pokemon-selection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .results-content {
        flex-direction: column;
        align-items: center;
    }

    #strengths, #weaknesses {
        width: 90%;
    }
}
